In [34]:
import pandas as pd

final=pd.read_csv('final.csv')

In [36]:
final.head()

,x,y,h3_address,neighbours,neighbours_centroids,caslt_cnt,dth_dnv_cnt,se_dnv_cnt,sl_dnv_cnt,wnd_dnv_cnt,...,seoul_police_cnt,park_cnt,crossroad_cnt,도로10이하_cnt,도로10_20_cnt,도로20_30_cnt,도로30이상_cnt,child_cnt,silver_cnt,crosswalk_cnt
0,126.981851,37.583372,8930e1dab47ffff,"['8930e1dab0bffff', '8930e1dab57ffff', '8930e1...","[(37.58613392049726, 126.98056894996715), (37....",0,0,0,0,0,...,1,0,1,6,0,1,0,0,0,0
1,127.037602,37.638996,8930e1c2287ffff,"['8930e1c2287ffff', '8930e1c2297ffff', '8930e1...","[(37.63901298097283, 127.03741299155716), (37....",5,0,4,1,0,...,0,0,2,5,0,0,0,8,0,4
2,127.087740,37.600075,8930e1c038fffff,"['8930e1c0313ffff', '8930e1c038bffff', '8930e1...","[(37.59689598894049, 127.08903919595633), (37....",0,0,0,0,0,...,1,0,0,6,0,0,0,2,0,0
3,127.086163,37.548920,8930e1c1e43ffff,"['8930e1c1e57ffff', '8930e1c1e43ffff', '8930e1...","[(37.551676147473344, 127.08524015098106), (37...",0,0,0,0,0,...,0,1,0,0,0,0,0,5,0,0
4,127.052611,37.474410,8930e1c846fffff,"['8930e1c846bffff', '8930e1c80d7ffff', '8930e1...","[(37.47192197069472, 127.04972273346766), (37....",0,0,0,0,0,...,0,0,0,4,0,0,0,3,0,0

In [38]:
final.sum()

x                                                           152392.343303
y                                                            45069.530261
h3_address              8930e1dab47ffff8930e1c2287ffff8930e1c038fffff8...
neighbours              ['8930e1dab0bffff', '8930e1dab57ffff', '8930e1...
neighbours_centroids    [(37.58613392049726, 126.98056894996715), (37....
caslt_cnt                                                            1475
dth_dnv_cnt                                                            80
se_dnv_cnt                                                            850
sl_dnv_cnt                                                            489
wnd_dnv_cnt                                                            56
caslt_cnt_1                                                          1155
dth_dnv_cnt_1                                                          76
se_dnv_cnt_1                                                          649
sl_dnv_cnt_1                                                          387
wnd_dnv_cnt_1                                                          43
caslt_cnt_2                                                           841
dth_dnv_cnt_2                                                          53
se_dnv_cnt_2                                                          485
sl_dnv_cnt_2                                                          263
wnd_dnv_cnt_2                                                          40
caslt_cnt_3                                                           859
dth_dnv_cnt_3                                                          60
se_dnv_cnt_3                                                          469
sl_dnv_cnt_3                                                          291
wnd_dnv_cnt_3                                                          39
caslt_cnt_4                                                          1094
dth_dnv_cnt_4                                                          50
se_dnv_cnt_4                                                          655
sl_dnv_cnt_4                                                          353
wnd_dnv_cnt_4                                                          36
caslt_cnt_5                                                          1128
dth_dnv_cnt_5                                                          59
se_dnv_cnt_5                                                          636
sl_dnv_cnt_5                                                          383
wnd_dnv_cnt_5                                                          50
caslt_cnt_6                                                          1714
dth_dnv_cnt_6                                                         102
se_dnv_cnt_6                                                         1012
sl_dnv_cnt_6                                                          539
wnd_dnv_cnt_6                                                          61
bus_station_cnt                                                      2572
traffic_cnt                                                          8905
pleasure_cnt                                                         5833
seoul_police_cnt                                                      272
park_cnt                                                              183
crossroad_cnt                                                        1653
도로10이하_cnt                                                           4823
도로10_20_cnt                                                            31
도로20_30_cnt                                                            50
도로30이상_cnt                                                             60
child_cnt                                                            3640
silver_cnt                                                            459
crosswalk_cnt                                                        4009
dtype: object